<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>401 error</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <div class="px-4 py-5 my-5 text-center">
        <h3 class="display-5 fw-bold">HTTP Status 401 – Unathorized Access</h3>

        <div class="jumbotron jumbotron-fluid" style="text-align: center; ">
            <h4>You need to login!</h4>
            <a href="/">Go Home</a>
        </div>
    </div>
</th:block>>
</body>

</html>