<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <title>Login for JWT Hacks</title>
</head>

<body style="background-color: aqua">
    <div th:fragment="body">
        <div>
            <header>
                <span>Login Page</span>
            </header>
        </div>
    
        <div>
            <div>
                <div style="background-color: red">
                    <h1>Login</h1>
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" th:value="${username}"><br>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" th:value="${password}"><br><br>
                    <button onclick="login()">Login</button>
                    <p id="message"></p>
                </div>
            </div>
        </div>
    </div>
</body>

<script th:inline="javascript">
    function login() {
        var email = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var data = {email:email, password:password};
        fetch("/authenticate", {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)})
        .then(function(response) {
            if (response.status == 200) {
                window.location.replace("/hacksgo");
            } else {
                document.getElementById('message').innerHTML = "Invalid email or password";
            }
        }).catch(function(error) {
            console.error('Error during login:', error);
        });
    }
</script>

</html>
